.version.austausch /* version checker */
{
	color: #000009;
	background-color: #051775;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 829px;
	min-height: 136px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 302px 57px 62px 74px;
}

#u1937
{
	z-index: 44;
	width: 944px;
	height: 260px;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -481px;
}

#u1905-4
{
	z-index: 50;
	width: 201px;
	min-height: 30px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Courier New, Courier, monospace;
	font-style: italic;
	position: fixed;
	top: 56px;
	left: 50%;
	margin-left: -480px;
}

#u1893
{
	z-index: 45;
	width: 212px;
	height: 160px;
	position: fixed;
	top: 72px;
	left: 50%;
	margin-left: -100px;
	background: transparent url("../images/sid_schr%c3%a4g-u75-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u1894-4
{
	z-index: 46;
	width: 490px;
	min-height: 93px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
	font-style: italic;
	position: fixed;
	top: 232px;
	left: 50%;
	margin-left: -207px;
}

#pu740-9
{
	width: 0.01px;
}

#u740-9
{
	z-index: 2;
	width: 829px;
	min-height: 827px;
	background-color: transparent;
	line-height: 42px;
	font-size: 35px;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u740-5,#u740-7
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u740-4,#u740-6
{
	font-size: 19px;
	font-weight: normal;
	line-height: 23px;
}

#slideshowu741
{
	z-index: 11;
	width: 0.01px;
	height: 400px;
	position: relative;
	margin-right: -10000px;
	margin-top: 258px;
	left: 171px;
}

#u743
{
	position: absolute;
	width: 480px;
	height: 360px;
	background-color: transparent;
}

#u743popup
{
	z-index: 12;
}

#u746
{
	z-index: 13;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u748
{
	z-index: 15;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u744
{
	z-index: 17;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u746_clip,#u748_clip,#u744_clip
{
	overflow: hidden;
	width: 480px;
	height: 360px;
}

#u746_img,#u748_img,#u744_img
{
	margin-left: -30px;
	margin-right: -30px;
}

#u752
{
	position: absolute;
	width: 349px;
	background-color: transparent;
	top: 360px;
}

#u752popup
{
	z-index: 19;
}

#u755-4
{
	z-index: 20;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u754-4
{
	z-index: 24;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u753-4
{
	z-index: 28;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u756-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 381px;
}

#u756-4popup
{
	z-index: 32;
}

#u750-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 350px;
}

#u750-4popup
{
	z-index: 36;
}

#u756,#u750
{
	color: #999999;
}

#u751-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 450px;
}

#u751-4popup
{
	z-index: 40;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

