.version.index /* version checker */
{
	color: #0000E4;
	background-color: #A1871F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u1796
{
	z-index: 2;
	width: 939px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 20px;
	background: #FFFFFF url("../images/sid_schr%c3%a4g.jpg") no-repeat center center;
}

#u1811-4
{
	z-index: 4;
	width: 589px;
	min-height: 5px;
	background-color: transparent;
	line-height: 25px;
	color: #000000;
	font-size: 21px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 528px;
	left: 54px;
}

#u1880-4
{
	z-index: 8;
	width: 78px;
	min-height: 53px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 587px;
	left: 446px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

