.version.kontakt /* version checker */
{
	color: #0000FC;
	background-color: #9FEFF6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1595.675000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1378px;
	padding-top: 169px;
	width: 0.01px;
}

#u395-4
{
	z-index: 2;
	width: 80px;
	min-height: 14px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: fixed;
	top: 60px;
	left: 50%;
	margin-left: 308px;
}

#u396-5
{
	z-index: 6;
	width: 80px;
	min-height: 14px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: fixed;
	top: 60px;
	left: 50%;
	margin-left: 410px;
}

#u397-4
{
	z-index: 11;
	width: 80px;
	min-height: 14px;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: fixed;
	top: 60px;
	left: 50%;
	margin-left: 512px;
}

#u395,#u396,#u397
{
	color: #7F7F7F;
}

#u276-4
{
	z-index: 15;
	width: 241px;
	min-height: 23px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	left: -18px;
	position: relative;
}

#u277-5
{
	z-index: 19;
	width: 496px;
	min-height: 50px;
	background-color: transparent;
	font-size: 14px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	left: -2px;
	margin-top: 6px;
	position: relative;
}

#u905-14
{
	z-index: 102;
	width: 497px;
	min-height: 317px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 474px;
	margin-top: 55px;
	position: relative;
}

#u278
{
	z-index: 24;
	height: 788px;
	background-color: #FF6757;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
}

#u278-bw
{
	z-index: 24;
	margin-top: 119px;
	height: 788px;
}

#ppu284-10
{
	width: 0.01px;
	margin-left: 33px;
	margin-top: -738px;
}

#pu284-10
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 232px;
	margin-left: 677px;
}

#u284-10
{
	z-index: 57;
	width: 291px;
	min-height: 84px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	position: relative;
}

#u285-10
{
	z-index: 67;
	width: 291px;
	min-height: 85px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	margin-top: 45px;
	position: relative;
}

#u286-11
{
	z-index: 77;
	width: 291px;
	min-height: 91px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	margin-left: 3px;
	margin-top: 47px;
	position: relative;
}

#u284-3,#u284-5,#u284-7,#u285-3,#u285-5,#u285-7,#u286-4,#u286-6,#u286-8
{
	font-weight: normal;
}

#u280-22
{
	z-index: 25;
	width: 596px;
	min-height: 437px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u280-19,#u280-20
{
	font-style: normal;
}

#u281-10
{
	z-index: 47;
	width: 544px;
	min-height: 468px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 386px;
}

#u905-2,#u280-2,#u280-17,#u281-2
{
	font-style: italic;
}

#pamphletu1624
{
	z-index: 116;
	width: 0.01px;
	height: 533px;
	left: -7px;
	margin-top: 183px;
	position: relative;
}

#u1627
{
	z-index: 117;
	width: 981px;
	position: relative;
	margin-right: -10000px;
}

#u1631
{
	position: absolute;
	width: 222px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/dsc_0190.jpg") no-repeat center center;
	background-size: cover;
}

#u1631.PamphletThumbSelected
{
	width: 222px;
	height: 220px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/debasish-ganguly-1-net(1).jpg") no-repeat center center;
	background-size: cover;
}

#u1634
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	left: 254px;
	background: transparent url("../images/dsc_0300.jpg") no-repeat center center;
	background-size: cover;
}

#u1632
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	left: 507px;
	background: transparent url("../images/dsc_0346.jpg") no-repeat center center;
	background-size: cover;
}

#u1629
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	left: 761px;
	background: transparent url("../images/dsc_0867.jpg") no-repeat center center;
	background-size: cover;
}

#u1635
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	top: 312px;
	left: 1px;
	background: transparent url("../images/dsc_0186.jpg") no-repeat center center;
	background-size: cover;
}

#u1635.PamphletThumbSelected
{
	width: 220px;
	height: 220px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/dsc_0186.jpg") no-repeat center center;
	background-size: cover;
}

#u1628
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	top: 312px;
	left: 254px;
	background: transparent url("../images/dsc_0302.jpg") no-repeat center center;
	background-size: cover;
}

#u1633
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	top: 312px;
	left: 507px;
	background: transparent url("../images/dsc_0179.jpg") no-repeat center center;
	background-size: cover;
}

#u1630
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	top: 312px;
	left: 761px;
	background: transparent url("../images/dsc_0480.jpg") no-repeat center center;
	background-size: cover;
}

#u1634.PamphletThumbSelected,#u1632.PamphletThumbSelected,#u1629.PamphletThumbSelected,#u1628.PamphletThumbSelected,#u1633.PamphletThumbSelected,#u1630.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 220px;
	height: 220px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u1636
{
	position: absolute;
	width: 222px;
	top: -1px;
}

#u1636popup
{
	z-index: 126;
}

#u1645
{
	z-index: 127;
	width: 222px;
	height: 221px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u1646-17
{
	z-index: 128;
	width: 219px;
	min-height: 179px;
	background-color: transparent;
	color: #4C4C4C;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1651
{
	z-index: 145;
	width: 222px;
	height: 221px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 253px;
	border-width: 0px 0px 1px;
}

#u1652-14
{
	z-index: 146;
	width: 219px;
	min-height: 179px;
	background-color: transparent;
	color: #4C4C4C;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1647
{
	z-index: 160;
	width: 229px;
	height: 221px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 507px;
	border-width: 0px 0px 1px;
}

#u1648-11
{
	z-index: 161;
	width: 219px;
	min-height: 179px;
	background-color: transparent;
	color: #4C4C4C;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u1643
{
	z-index: 172;
	width: 222px;
	height: 222px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 760px;
	border-width: 0px 0px 1px;
}

#u1644-3
{
	z-index: 173;
	width: 219px;
	min-height: 179px;
	background-color: transparent;
	line-height: 17px;
	color: #4C4C4C;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u1637
{
	z-index: 176;
	width: 222px;
	height: 221px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	margin-bottom: -312px;
	position: relative;
	margin-right: -10000px;
	margin-top: 312px;
	border-width: 0px 0px 1px;
}

#u1638-12
{
	z-index: 177;
	width: 219px;
	min-height: 179px;
	background-color: transparent;
	color: #4C4C4C;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1649
{
	z-index: 189;
	width: 222px;
	height: 221px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	margin-bottom: -312px;
	position: relative;
	margin-right: -10000px;
	margin-top: 312px;
	left: 253px;
	border-width: 0px 0px 1px;
}

#u1650-11
{
	z-index: 190;
	width: 219px;
	min-height: 179px;
	background-color: transparent;
	color: #4C4C4C;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1646-2,#u1646-4,#u1652-2,#u1652-4,#u1648-2,#u1638-2,#u1650-2,#u1650-3,#u1650-4,#u1650-6,#u1650-8
{
	font-size: 13px;
	line-height: 18px;
}

#u1646-5,#u1646-7,#u1646-9,#u1646-11,#u1646-13,#u1646-15,#u1652-5,#u1652-6,#u1652-8,#u1652-10,#u1652-12,#u1648-3,#u1648-4,#u1648-6,#u1648-8,#u1648-9,#u1638-3,#u1638-4,#u1638-6,#u1638-8,#u1638-10,#u1650-9
{
	font-size: 12px;
	line-height: 17px;
}

#u1639
{
	z-index: 201;
	width: 222px;
	height: 221px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	margin-bottom: -312px;
	position: relative;
	margin-right: -10000px;
	margin-top: 312px;
	left: 506px;
	border-width: 0px 0px 1px;
}

#u1640-3
{
	z-index: 202;
	width: 219px;
	min-height: 179px;
	background-color: transparent;
	line-height: 17px;
	color: #4C4C4C;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1641
{
	z-index: 205;
	width: 222px;
	height: 221px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	margin-bottom: -312px;
	position: relative;
	margin-right: -10000px;
	margin-top: 312px;
	left: 760px;
	border-width: 0px 0px 1px;
}

#u1642-3
{
	z-index: 206;
	width: 219px;
	min-height: 179px;
	background-color: transparent;
	line-height: 17px;
	color: #4C4C4C;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu1671-4
{
	width: 0.01px;
	margin-left: -6px;
	margin-top: -302px;
}

#u1671-4
{
	z-index: 265;
	width: 220px;
	min-height: 33px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#u1669-4
{
	z-index: 257;
	width: 220px;
	min-height: 33px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 254px;
}

#u1667-4
{
	z-index: 249;
	width: 220px;
	min-height: 33px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	left: 507px;
}

#u1665-4
{
	z-index: 241;
	width: 220px;
	min-height: 33px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 760px;
}

#pu1672-4
{
	width: 0.01px;
	margin-left: -6px;
	margin-top: -257px;
}

#u1672-4
{
	z-index: 269;
	width: 220px;
	min-height: 18px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u1670-4
{
	z-index: 261;
	width: 220px;
	min-height: 18px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 254px;
}

#u1668-4
{
	z-index: 253;
	width: 220px;
	min-height: 18px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 507px;
}

#u1666-4
{
	z-index: 245;
	width: 220px;
	min-height: 18px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 760px;
}

#pu1657-4
{
	width: 0.01px;
	margin-left: -6px;
	margin-top: 10px;
}

#u1657-4
{
	z-index: 209;
	width: 220px;
	min-height: 33px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u1659-4
{
	z-index: 217;
	width: 220px;
	min-height: 33px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 254px;
}

#u1661-4
{
	z-index: 225;
	width: 220px;
	min-height: 33px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 508px;
}

#u1663-4
{
	z-index: 233;
	width: 220px;
	min-height: 33px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 762px;
}

#pu1658-4
{
	width: 0.01px;
	margin-left: -6px;
	margin-top: 12px;
}

#u1658-4
{
	z-index: 213;
	width: 220px;
	min-height: 18px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u1660-4
{
	z-index: 221;
	width: 220px;
	min-height: 18px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 254px;
}

#u1662-4
{
	z-index: 229;
	width: 220px;
	min-height: 18px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 508px;
}

#u1664-4
{
	z-index: 237;
	width: 220px;
	min-height: 18px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 762px;
}

#pu305-10
{
	width: 0.01px;
	margin-left: -65px;
	margin-top: 437px;
}

#u305-10
{
	z-index: 92;
	width: 804px;
	min-height: 70px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u905-3,#u905-4,#u905-6,#u905-7,#u905-9,#u905-10,#u305-2,#u305-4,#u305-6,#u305-7
{
	font-size: 15px;
	line-height: 18px;
}

#u305-8
{
	font-size: 18px;
	line-height: 22px;
}

#u287-4
{
	z-index: 88;
	width: 69px;
	min-height: 13px;
	background-color: transparent;
	line-height: 13px;
	color: #7F7F7F;
	font-size: 11px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 1066px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 1389px;
}

#page .verticalspacer
{
	clear: both;
}

