.version.spenden /* version checker */
{
	color: #00000A;
	background-color: #59F369;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 829px;
	min-height: 555px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 311px 57px 62px 74px;
}

#u1931
{
	z-index: 72;
	width: 944px;
	height: 260px;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -481px;
}

#u1899-4
{
	z-index: 78;
	width: 201px;
	min-height: 30px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Courier New, Courier, monospace;
	font-style: italic;
	position: fixed;
	top: 56px;
	left: 50%;
	margin-left: -480px;
}

#u466
{
	z-index: 73;
	width: 212px;
	height: 160px;
	position: fixed;
	top: 72px;
	left: 50%;
	margin-left: -100px;
	background: transparent url("../images/sid_schr%c3%a4g-u75-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u549-4
{
	z-index: 74;
	width: 490px;
	min-height: 93px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
	font-style: italic;
	position: fixed;
	top: 232px;
	left: 50%;
	margin-left: -207px;
}

#pslideshowu468
{
	width: 0.01px;
}

#slideshowu468
{
	z-index: 2;
	width: 0.01px;
	height: 400px;
	position: relative;
	margin-right: -10000px;
	margin-top: 326px;
	left: 132px;
}

#u470
{
	position: absolute;
	width: 480px;
	height: 360px;
	background-color: transparent;
}

#u470popup
{
	z-index: 3;
}

#u483
{
	z-index: 4;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u483_img
{
	margin-left: -32px;
	margin-right: -32px;
}

#u481
{
	z-index: 6;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u479
{
	z-index: 8;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u471
{
	z-index: 10;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u473
{
	z-index: 12;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u477
{
	z-index: 14;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u475
{
	z-index: 16;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u483_clip,#u481_clip,#u479_clip,#u471_clip,#u477_clip,#u475_clip
{
	overflow: hidden;
	width: 480px;
	height: 360px;
}

#u481_img,#u479_img,#u471_img,#u477_img,#u475_img
{
	margin-left: -30px;
	margin-right: -30px;
}

#u487
{
	position: absolute;
	width: 349px;
	background-color: transparent;
	top: 360px;
}

#u487popup
{
	z-index: 18;
}

#u493-4
{
	z-index: 19;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u491-4
{
	z-index: 23;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u489-4
{
	z-index: 27;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u492-4
{
	z-index: 31;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u490-4
{
	z-index: 35;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u488-4
{
	z-index: 39;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u494-4
{
	z-index: 43;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u512-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 381px;
}

#u512-4popup
{
	z-index: 47;
}

#u469-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 350px;
}

#u469-4popup
{
	z-index: 51;
}

#u512,#u469
{
	color: #999999;
}

#u486-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 450px;
}

#u486-4popup
{
	z-index: 55;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u467-13
{
	z-index: 59;
	width: 829px;
	min-height: 827px;
	background-color: transparent;
	line-height: 42px;
	font-size: 35px;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u467-5,#u467-7,#u467-9,#u467-11
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u467-4,#u467-6,#u467-8,#u467-10
{
	font-size: 19px;
	font-weight: normal;
	line-height: 23px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

