.version.impressum2 /* version checker */
{
	color: #0000E0;
	background-color: #85E598;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 372px;
	min-height: 479px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 20px;
	padding-right: 8px;
	padding-bottom: 71px;
}

#u1324-4
{
	z-index: 2;
	width: 201px;
	min-height: 30px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	font-style: italic;
	position: relative;
}

#pu1325-73
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 48px;
}

#u1325-73
{
	z-index: 6;
	width: 332px;
	min-height: 695px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1325-2
{
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
}

#u1325-3
{
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
}

#u1325-5
{
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
}

#u1325-19
{
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	font-style: normal;
}

#u1326-27
{
	z-index: 79;
	width: 336px;
	min-height: 835px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 583px;
}

#u1326-2,#u1326-3,#u1326-4
{
	font-size: 20px;
	line-height: 24px;
	font-style: normal;
}

#u1326-6
{
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	font-style: normal;
}

#u1326-13
{
	font-size: 11px;
	line-height: 13px;
	font-style: italic;
}

#u1326-9,#u1326-15,#u1326-21
{
	font-size: 13px;
	line-height: 16px;
	color: #7F7F7F;
	font-style: italic;
}

#u1325-7,#u1325-9,#u1325-10,#u1325-13,#u1325-14,#u1325-16,#u1325-22,#u1325-24,#u1325-26,#u1325-27,#u1325-29,#u1325-31,#u1325-32,#u1325-34,#u1325-36,#u1325-38,#u1325-39,#u1325-41,#u1325-43,#u1325-44,#u1325-46,#u1325-47,#u1325-49,#u1325-51,#u1325-52,#u1325-54,#u1325-56,#u1325-58,#u1325-59,#u1325-61,#u1325-62,#u1325-64,#u1325-66,#u1325-68,#u1325-70,#u1326-10,#u1326-12,#u1326-18,#u1326-24
{
	font-size: 11px;
	line-height: 13px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

