.version.werwir /* version checker */
{
	color: #0000FF;
	background-color: #C5EC9E;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 844px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -343px;
	width: 0.01px;
}

#u1291
{
	z-index: 2;
	min-height: 82px;
	background-color: #FFFFFF;
	padding-bottom: 4px;
}

#pu1273-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 25px;
}

#u1273-4
{
	z-index: 3;
	width: 51px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	font-style: italic;
	position: relative;
}

#u1273-4:hover
{
	background-color: #A3E6FF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 51px;
	margin: 0px;
}

#u1273-4:active
{
	background-color: #FF654A;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 51px;
	margin: 0px;
}

#u1274-4
{
	z-index: 7;
	width: 62px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	font-style: italic;
	margin-top: 3px;
	position: relative;
}

#u1274-4:hover
{
	background-color: #97F7FF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 62px;
	margin: 3px 0px 0px;
}

#u1274-4:active
{
	background-color: #FF654A;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 62px;
	margin: 3px 0px 0px;
}

#u1273,#u1274
{
	text-decoration: underline;
}

#u1275-4
{
	z-index: 11;
	width: 57px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	font-style: italic;
	margin-top: 3px;
	position: relative;
}

#u1275-4.MuseLinkActive
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 57px;
	margin: 3px 0px 0px;
}

#u1275-4.MuseLinkActive p
{
	text-decoration: none;
}

#u1282
{
	z-index: 65;
	width: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 200px;
}

#u1284-7
{
	z-index: 67;
	width: 80px;
	min-height: 57px;
	background-color: transparent;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 274px;
}

#u1284-2
{
	font-size: 12px;
	line-height: 14px;
}

#u1284-3
{
	font-weight: normal;
}

#u1284-5
{
	font-size: 30px;
	line-height: 36px;
}

#u1291-bw
{
	z-index: 2;
	min-height: 82px;
}

#u1916
{
	z-index: 79;
	width: 266px;
	min-height: 168px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 61px;
	margin-top: 52px;
	position: relative;
}

#pu1918-14
{
	width: 0.01px;
	margin-left: 60px;
	margin-top: 15px;
}

#u1918-14
{
	z-index: 80;
	width: 269px;
	min-height: 318px;
	background-color: transparent;
	font-size: 10px;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1919-5
{
	z-index: 94;
	width: 148px;
	min-height: 31px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: 98px;
}

#u1919-2
{
	font-weight: bold;
	font-style: italic;
}

#pu1915
{
	width: 0.01px;
	margin-top: -116px;
}

#u1915
{
	z-index: 78;
	min-height: 249px;
	background-color: #FF6757;
}

#u1915_position_content
{
	margin-bottom: -12px;
	padding-top: 28px;
}

#pu1921-4
{
	width: 0.01px;
	margin-left: 73px;
	position: relative;
}

#u1921-4
{
	z-index: 106;
	width: 84px;
	min-height: 21px;
	background-color: transparent;
	font-size: 10px;
	line-height: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1922-4
{
	z-index: 110;
	width: 151px;
	min-height: 29px;
	background-color: transparent;
	font-size: 14px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u1924-4
{
	z-index: 118;
	width: 131px;
	min-height: 29px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	font-family: Courier New, Courier, monospace;
	margin-left: 261px;
	margin-top: 4px;
	position: relative;
}

#u1925-4
{
	z-index: 122;
	width: 115px;
	min-height: 29px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	font-family: Courier New, Courier, monospace;
	margin-left: 52px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u1920-7
{
	z-index: 99;
	width: 248px;
	min-height: 43px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	margin-left: 97px;
	margin-top: 21px;
	position: relative;
}

#u1920-2,#u1920-3,#u1920-4
{
	text-align: center;
}

#u1915-bw
{
	z-index: 78;
	min-height: 249px;
}

#u1923-4
{
	z-index: 114;
	width: 195px;
	min-height: 43px;
	background-color: transparent;
	font-size: 10px;
	line-height: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 197px;
	left: 54px;
}

#u1926-4
{
	z-index: 126;
	width: 225px;
	min-height: 20px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
	left: 39px;
}

#u1927-4
{
	z-index: 130;
	width: 170px;
	min-height: 17px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 126px;
}

#u1928-4
{
	z-index: 134;
	width: 195px;
	min-height: 31px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 163px;
	left: 179px;
}

#u1929-4
{
	z-index: 138;
	width: 151px;
	min-height: 45px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 195px;
	left: 255px;
}

#pu1277-13
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 104px;
}

#u1277-13
{
	z-index: 15;
	width: 163px;
	min-height: 165px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1277-6
{
	font-size: 9px;
	line-height: 11px;
	padding-bottom: 6px;
}

#u1277-9
{
	font-size: 11px;
	padding-bottom: 6px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1284-4,#u1277-7
{
	font-size: 9px;
	line-height: 11px;
}

#u1277-8
{
	line-height: 14px;
}

#u1278-37
{
	z-index: 28;
	width: 183px;
	min-height: 190px;
	background-color: transparent;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 171px;
}

#u1918-10,#u1277-2,#u1278-2
{
	font-style: italic;
}

#u1277-3,#u1277-4,#u1277-10,#u1277-11,#u1278-3,#u1278-4
{
	font-size: 11px;
	line-height: 13px;
}

#u1278-9,#u1278-11,#u1278-23,#u1278-25
{
	font-size: 9px;
	line-height: 5px;
	padding-bottom: 6px;
	font-style: italic;
}

#u1278-13,#u1278-27
{
	font-size: 9px;
	line-height: 5px;
}

#u1278-16,#u1278-18,#u1278-30
{
	font-size: 9px;
	line-height: 5px;
	padding-bottom: 6px;
}

#u1278-7,#u1278-14,#u1278-21,#u1278-28,#u1278-33
{
	font-size: 10px;
	padding-bottom: 6px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1278-5,#u1278-12,#u1278-19,#u1278-26,#u1278-31
{
	line-height: 6px;
}

#u1278-6,#u1278-20,#u1278-32
{
	font-size: 9px;
	font-style: italic;
	line-height: 5px;
}

#u1278-34,#u1278-35
{
	font-size: 10px;
	line-height: 12px;
	padding-bottom: 6px;
}

#u1286-4
{
	z-index: 74;
	width: 69px;
	min-height: 13px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #7F7F7F;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 163px;
	margin-top: 101px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 355px;
}

#page .verticalspacer
{
	clear: both;
}

